#appear_popup_div {
    width: 100%;
    height: 650%;
    position: absolute;
    z-index: 10;
    opacity: 0.7;
    background-color: black;
    cursor: zoom-out;
}

#appear_popup {
    display: block;
    top: 12%;
    left: 25%;
    height: auto;
    position: fixed;
    z-index: 11;
    
}

#close_icon {
    position: fixed;
    left: 77%;
    top: 9%;
    z-index: 20;
    font-size: 20px;
    color: #B9B9B9;
    cursor: pointer;
}

#close_icon:hover {
    color: white;
}

#right_icon, #left_icon {
    position: fixed;
    top: 50%;
    font-size: 40px;
    z-index: 20;
    color: #B9B9B9;
    cursor: pointer;
}

#right_icon:hover, #left_icon:hover {
    color: white;
}

#right_icon {
    left: 97%;
}

#left_icon {
    left: 3%;
}

#img_index {
    position: fixed;
    bottom: 3%;
    right: 4%;
    font-size: 15px;
    color: black;
    z-index: 23;
    width: 20%;
    color: #C8C7C7;
    font-family: "Averia Serif Libre";
    font-weight: 100;
}