.info3 {
    width: 100%;
    height: 700px;
    background-color: #F2F1EC;
    margin: 0;
    position: relative;
}

#info3_heading {
    font-family: 'Averia Serif Libre', cursive;
    color: #372921;
    top: 0;
    bottom: 0;
    margin-top: 0;
    height: 5vh;
    width: 35vw;
    font-size: 60px;
    font-weight: 100;
    margin-left: 8vw;
    float: left;
    position: absolute;
}

#info3_content {
    width: 35vw;
    margin-right: 7vw;
    font-size: 16px;
    line-height: 30px;
    font-family: Georgia;
    color: #8F8F8F;
    padding-left: 6vw;
    border-left: 3px solid #8F8F8F;
    position: absolute;
    top: 0;
    left: 45%;
}

#info3_content>a {
    text-decoration: none;
    color: #BF4C4D;
}

#info3_content>a:hover {
    text-decoration: underline;
}

.info3_gallery {
    margin-top: 5vh;
    margin-left: 10%;
    float: left;
    display: flex;
    width: 80%;
    position: absolute;
    top: 20vh;
}

.info3_gallery>a {
    float: left;
    margin-right: 1vw;
    flex: 1;
    cursor: pointer;
}

.info3_img_div {
    margin: 0;
    padding-top:0;
    width: 100%;
    height: 280px;
    overflow-y: hidden;
    border: 5px solid #F8F8F8;
    float: left;
}

.info3_img_div>img {
    width: 100%;
    height: 300px;
    padding: 0;
    transition: 0.25s;
    border: 0;
    float: left;
}

.info3_img_div>img:hover {
    margin-top: -20px;
    opacity: 0.5;
}

.info3_sub_text {
    float: left;
    margin-top: 7vh;
    width: 100%;
    position: absolute;
    top: 60vh;
}

.info3_sub_text>p {
    font-family: 'Averia Serif Libre', cursive;
    margin-left: 10vw;
    width: 50vw;
    font-size: 25px;
    color: #8F8B87;
}

.info3_sub_text>a {
    position: relative;
    text-decoration: none;
    float: right;
    margin-right: 10vw;
    margin-top: -10vh;
    background-color: #BF4C4D;
    padding: 15px 30px;
    border-radius: 10px;
    overflow: hidden;
}

#gallery>span {
    position: relative;
    color: white;
    font-size: 18px;
}

.info3_sub_text>a:before {
    content: '';
    width: 130px;
    height: 20px;
    position: absolute;
    background: #BF2D4E;
    padding: 15px 30px;
    right: 100%;
    top: 1%;
}

.info3_sub_text>a:hover:before {
    right: 0%;
    transition: 0.25s ease-in-out;
}