.navigation {
    background-color: #E7E4DB;
    width: 100%;
    height: 100px;
    margin-top: -1.3%;
}

.logo{
    display: block;
    max-height: 52px;
    float: left;
    margin-top: 20px;
    margin-left: 15%;
}

a.navi {
    text-decoration: none;
    color: #372921;
    font-size: 18px;
    padding: 30px;
}

a.navi:hover {
    color: #C25555;
}

ul {
    list-style-type: none;
}

li {
    float: right;
    margin-top: 35px;
    height: 70px;
}

#buy {
    padding-right: 150px;
}

a#buy, a#home {
    color: #C25555;
}